# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
build-stamp
cmake_install.cmake
ecm_uninstall.cmake
install_manifest.txt
klogic.1
prefix.sh
src/klogic_autogen
debian/klogic
po/*.gmo
debian/.debhelper
debian/files
debian/klogic.postrm.debhelper
debian/klogic.substvars
debian/klogic.debhelper.log
debian/klogic.postinst.debhelper
src/klogic
src/ui_NetWidget.h
src/settings.h
src/settings.cpp
